.treeViewer {
  width: 300px;
  margin: auto;
  border: 1px solid #696969;
}

.collapsible {
  text-align: left;
  background-color: #0000ff;
  color: white;
  cursor: pointer;
}

.collapsible-trigger {
  padding-left: 10px;
}

.collapsible-content {
  background-color: white;
  padding-left: 15px;
}

.children {
}
